.col-head{
    font-weight:500
}
.col-link{
    font-size:14px;
}
.col-img{
    height:140px;
}
.col-flex-wrap{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col-image{
}
@media screen and (min-width:768px){
    .col-image{
        height:120px;
    }
}
@media screen and (min-width:992px){
    .col-image{
        height:160px;
    } 
}
@media screen and (min-width:1200px){
    .col-image{
        height:160px;
    } 
    .base{
        padding-left:0;
        padding-right:0;
    }
}