.col-head{
    font-weight:500
}
.col-link{
    font-size:14px;
}
.text{
    text-decoration: none;
}
.col-img{
    height:140px;
    margin-bottom:50px;
}
.col-flex-wrap{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col-image{
    min-height:140px;
    max-height:150px;
}
@media screen and (min-width:768px){
    .col-image{
        min-height:140px;
        max-height:150px;
    } 
}
@media screen and (min-width:992px){
    .col-image{
        height:160px;
    } 
}
@media screen and (min-width:1200px){
    .col-image{
        min-height:150px;
        max-height:160px;
    } 
    .base{
        padding-left:0;
        padding-right:0;
    }
}