.head{
    font-size:1.5rem;
    font-weight:600;
}
.row-1{
    width:68%
}
.form-color{
    background-color:#0a1829 !important;
    color:white;
    outline:0 !important;
    position:relative !important;
}
.form-color:focus {
    box-shadow: none !important;
}
  
.form-color::-webkit-input-placeholder {
    color:white !important
}

.form-color::-moz-placeholder {
    color:white !important
}

.form-color::-ms-placeholder {
    color:white !important
}

.form-color::placeholder {
    color:white !important
}
.form-cart{
    width:20px
}
.search-area{
    margin-left:20%
}
.cart-area{
    margin-right:2.5%
}
.bg-color{
    background-color:#182e49;
}
.decoration{
    text-decoration: none;
}
.modal-margin{
    margin-top:10px;
}
.border-radius-0 div {
    border-radius: 0px !important;
  }
.cart-image{
    min-height:80px;
    max-height:90px
}
.rounded-element{
    position:relative !important;
    height:23px;
    width:23px;
    border-radius:50%;
    background-color:red;
    color:white;
    text-align:center;
    margin-left:-27px;
    margin-top:12px;
}
